In [1]:
import pandas as pd
pd.set_option("display.max_column", None)

In [2]:
plan = pd.read_csv('plans.csv.gz')

In [3]:
plan

,personId,planElement,planElementIndex,activityType,x,y,endTime,mode
0,5575738,activity,1,Home,-122.443522,37.805045,7.293863,NaN
1,5575738,leg,2,NaN,NaN,NaN,NaN,NaN
2,5575738,activity,3,Work,-122.432516,37.794234,19.409575,NaN
3,5575738,leg,4,NaN,NaN,NaN,NaN,NaN
4,5575738,activity,5,Home,-122.443522,37.805045,NaN,NaN
...,...,...,...,...,...,...,...,...
5840,6350862,activity,1,Home,-122.480908,37.718266,6.866771,NaN
5841,6350862,leg,2,NaN,NaN,NaN,NaN,NaN
5842,6350862,activity,3,Work,-122.436245,37.811360,15.729556,NaN
5843,6350862,leg,4,NaN,NaN,NaN,NaN,NaN
5844,6350862,activity,5,Home,-122.480908,37.718266,NaN,NaN