In [1]:
import pandas as pd

In [6]:
data = pd.read_csv('0.events.csv.gz')

/usr/local/Cellar/jupyterlab/3.2.5/libexec/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3185: DtypeWarning: Columns (0,1,5,11,12,23,24,25,26,29,30,31,32,36,42,48,53,55,57,58,59,60) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
modeChoice = data[data['type'] == 'ModeChoice']

In [8]:
walk = modeChoice[modeChoice['mode'] == 'walk']

In [9]:
walkLong = walk[walk['length'] > 4823]

In [12]:
personsFaker = list(walkLong['person'].unique())

In [17]:
personsFaker

['3567501',
 '852286',
 '3060344',
 5212152.0,
 6644567.0,
 6271083.0,
 1073227.0,
 5243913.0,
 4277459.0,
 2342142.0,
 2279310.0,
 4883256.0,
 4432427.0,
 2381125.0,
 5687643.0,
 3830129.0,
 7065107.0,
 1270226.0,
 3158059.0,
 1068147.0,
 3941964.0,
 5243914.0,
 6999909.0,
 6607299.0,
 6860547.0,
 4399951.0,
 1842991.0,
 1114077.0,
 6465704.0,
 7264480.0,
 4888615.0,
 2836133.0,
 312482.0,
 2968065.0,
 1913999.0,
 2532376.0,
 3294668.0,
 1794493.0,
 4705921.0,
 4782657.0,
 6791742.0,
 6309715.0,
 3035525.0,
 3801079.0,
 2841537.0,
 5290474.0,
 4126328.0,
 3941966.0,
 2066263.0,
 1540494.0,
 3909862.0,
 2350627.0,
 2984524.0,
 6036600.0,
 3941965.0,
 5985235.0,
 3949988.0,
 680449.0,
 3941585.0,
 5655571.0,
 6386678.0,
 1206794.0,
 3597568.0,
 1816347.0,
 7124180.0,
 4649391.0,
 827160.0,
 5788350.0,
 3197149.0,
 105858.0,
 1170537.0,
 5193072.0,
 4022364.0,
 6860548.0,
 793142.0,
 1433329.0,
 5015120.0,
 1937300.0,
 4058841.0,
 1509863.0,
 1068148.0,
 3180789.0,
 7305539.0,
 4121948.0,
 872895.0,
 4897238.0,
 664366.0,
 312480.0,
 38554.0,
 4859239.0,
 2288301.0,
 651987.0,
 6424915.0,
 6140885.0,
 6860549.0,
 478220.0,
 613678.0,
 668053.0,
 4204752.0,
 6211369.0,
 6500002.0,
 2179720.0,
 7124161.0,
 2049100.0,
 1958684.0,
 5420017.0,
 1675273.0,
 4631005.0,
 5751798.0,
 4587066.0,
 3522098.0,
 2149527.0,
 6806034.0,
 3340775.0,
 671749.0,
 3178348.0,
 5030573.0,
 5295028.0,
 277191.0,
 2115702.0,
 2622618.0,
 2380843.0,
 3175025.0,
 4332314.0,
 3175801.0,
 2584124.0,
 1644823.0,
 5033105.0,
 1788491.0,
 3229912.0,
 6278750.0,
 102939.0,
 6140883.0,
 1673433.0,
 3414964.0,
 1411332.0,
 6647156.0,
 6701930.0,
 4973134.0,
 626535.0,
 284186.0,
 2984522.0,
 6482511.0,
 5160121.0,
 7258655.0,
 1508089.0,
 5985234.0,
 601840.0,
 1234055.0,
 5492005.0,
 3941967.0,
 1589954.0,
 5544389.0,
 3545071.0,
 6709099.0,
 3173654.0,
 5267000.0,
 1604403.0,
 182241.0,
 2332905.0,
 495735.0,
 6028880.0,
 5899899.0,
 2068814.0,
 5383701.0,
 6264359.0,
 2067282.0,
 93734.0,
 5120352.0,
 4946888.0,
 42194.0,
 898755.0,
 5830174.0,
 4099917.0,
 5429884.0,
 1449720.0,
 3135436.0,
 7381401.0,
 6497794.0,
 1854573.0,
 5273497.0,
 5687644.0,
 6050964.0,
 5118800.0,
 4909916.0,
 1399598.0,
 7078209.0,
 5386309.0,
 4520639.0,
 5901124.0,
 2026240.0,
 1226212.0,
 1286553.0,
 5383702.0,
 7014494.0,
 6378652.0,
 1089821.0,
 1369009.0,
 5273498.0,
 946700.0,
 6661859.0,
 2565512.0,
 3718521.0,
 2158912.0,
 4782258.0,
 4631006.0,
 6893264.0,
 726124.0,
 3557968.0,
 970377.0,
 1381305.0,
 7231202.0,
 485510.0,
 6343821.0,
 1197807.0,
 1353910.0,
 3620466.0,
 2590389.0,
 6213135.0,
 4807087.0,
 4377085.0,
 3793268.0,
 1629153.0,
 457009.0,
 6545312.0,
 6017284.0,
 2156994.0,
 1216284.0,
 6058347.0,
 4190651.0,
 2002408.0,
 2537263.0,
 1285100.0,
 208468.0,
 7146440.0,
 1567178.0,
 3792009.0,
 1854547.0,
 6239194.0,
 1628090.0,
 3796904.0,
 5039149.0,
 2685425.0,
 525155.0,
 5728460.0,
 1714355.0,
 6325198.0,
 590742.0,
 6828330.0,
 5090085.0,
 1433994.0,
 7089916.0,
 2827194.0,
 1163748.0,
 5409219.0,
 6423747.0,
 4022366.0,
 823262.0,
 4875016.0,
 1329766.0,
 3557967.0,
 6496084.0,
 5057873.0,
 7175452.0,
 575251.0,
 2622289.0,
 7119446.0,
 7098461.0,
 6117812.0,
 4234608.0,
 7111733.0,
 5531737.0,
 4702692.0,
 4744599.0,
 1896337.0,
 6756699.0,
 6897997.0,
 5539794.0,
 4171213.0,
 4540216.0,
 1985483.0,
 2841538.0,
 1182294.0,
 5679080.0,
 2482502.0,
 617802.0,
 182240.0,
 327824.0,
 812291.0,
 2363459.0,
 5732881.0,
 4814065.0,
 2351707.0,
 6777679.0,
 7360717.0,
 3245552.0,
 852286.0,
 2833199.0,
 5192711.0,
 2507830.0,
 5045984.0,
 4850930.0,
 450475.0,
 2281153.0,
 2806904.0,
 2036576.0,
 2568276.0,
 3713358.0,
 3989777.0,
 3568793.0,
 6322579.0,
 5857693.0,
 4701328.0,
 3827688.0,
 2453844.0,
 4600015.0,
 641995.0,
 3315816.0,
 3999731.0,
 1350306.0,
 5660569.0,
 5383412.0,
 3986263.0,
 480257.0,
 6775990.0,
 1261885.0,
 2980264.0,
 5288802.0,
 3035130.0,
 5862784.0,
 1373841.0,
 2243206.0,
 674868.0,
 6448149.0,
 1433328.0,
 1225597.0,
 1571339.0,
 4464713.0,
 4412952.0,
 4385524.0,
 4814063.0,
 5774916.0,
 827158.0,
 1862291.0,
 7223511.0,
 6448204.0,
 2758487.0,
 7220816.0,
 4542843.0,
 1022184.0,
 604364.0,
 182991.0,
 5031219.0,
 4801565.0,
 4490124.0,
 3689036.0,
 675290.0,
 5135914.0,
 5138467.0,
 5682041.0,
 1099522.0,
 2471152.0,
 1234056.0,
 6351237.0,
 1073225.0,
 1530471.0,
 5932508.0,
 5135912.0,
 4469617.0,
 3272809.0,
 4063507.0,
 5528629.0,
 2840223.0,
 3366089.0,
 4377084.0,
 622307.0,
 1374677.0,
 963921.0,
 3713950.0,
 6750420.0,
 2957173.0,
 274149.0,
 386751.0,
 4204753.0,
 406356.0,
 2096043.0,
 4420596.0,
 3846314.0,
 4492231.0,
 6824346.0,
 1226222.0,
 2795924.0,
 220253.0,
 3738947.0,
 3711323.0,
 2735214.0,
 5321715.0,
 2583224.0,
 875142.0,
 6700770.0,
 5399632.0,
 3992330.0,
 5506283.0,
 4401601.0,
 6984101.0,
 4301155.0,
 5321716.0,
 6037821.0,
 904820.0,
 3469161.0,
 5454359.0,
 3619923.0,
 1725394.0,
 3607200.0,
 4244335.0,
 4548426.0,
 3017648.0,
 1988205.0,
 884016.0,
 204800.0,
 2974993.0,
 238369.0,
 3268075.0,
 1436742.0,
 4368148.0,
 2537970.0,
 887076.0,
 312483.0,
 3467370.0,
 3657210.0,
 723.0,
 5426938.0,
 5105984.0,
 5288806.0,
 3921087.0,
 243790.0,
 773570.0,
 6875870.0,
 6121388.0,
 5338300.0,
 7290076.0,
 3645022.0,
 5404650.0,
 5960682.0,
 2207430.0,
 2471151.0,
 1105879.0,
 1301825.0,
 205880.0,
 1207992.0,
 2376616.0,
 3342822.0,
 2958965.0,
 5924954.0,
 1027948.0,
 4642540.0,
 1178052.0,
 6028881.0,
 4930525.0,
 945440.0,
 4849252.0,
 4146336.0,
 1982632.0,
 3980540.0,
 3259477.0,
 6838455.0,
 2337872.0,
 3752171.0,
 3636630.0,
 5075470.0,
 4582983.0,
 4902146.0,
 6980524.0,
 4886359.0,
 7196031.0,
 330227.0,
 3989930.0,
 5585608.0,
 6494799.0,
 6526380.0,
 4559688.0,
 216306.0,
 4554828.0,
 4808129.0,
 6661858.0,
 3380658.0,
 6213830.0,
 6613658.0,
 3572087.0,
 5288807.0,
 130658.0,
 1700542.0,
 5358158.0,
 6425291.0,
 6629843.0,
 3563228.0,
 195606.0,
 4492232.0,
 1970238.0,
 282125.0,
 6917905.0,
 4604339.0,
 869700.0,
 6431668.0,
 6024693.0,
 2161111.0,
 1029241.0,
 5536681.0,
 5660994.0,
 7300253.0,
 651261.0,
 2727697.0,
 3963913.0,
 4188649.0,
 4048133.0,
 4361721.0,
 7208486.0,
 2365750.0,
 5652749.0,
 5322503.0,
 2229405.0,
 6213046.0,
 5152705.0,
 6329070.0,
 477711.0,
 2380842.0,
 169520.0,
 2101212.0,
 3089195.0,
 6073082.0,
 2296346.0,
 106505.0,
 3652345.0,
 2410618.0,
 243962.0,
 1873990.0,
 4079503.0,
 6823978.0,
 1712566.0,
 2858629.0,
 4067737.0,
 4651626.0,
 687288.0,
 1093837.0,
 2121689.0,
 5179620.0,
 4070258.0,
 3265234.0,
 4919404.0,
 3796737.0,
 2945941.0,
 5478960.0,
 1335630.0,
 3653667.0,
 6892776.0,
 1922824.0,
 3654703.0,
 4479077.0,
 3680146.0,
 130657.0,
 722.0,
 6284832.0,
 2018471.0,
 907521.0,
 6837434.0,
 1947814.0,
 3711324.0,
 7050742.0,
 6203370.0,
 5317771.0,
 5103157.0,
 2004829.0,
 4233593.0,
 208467.0,
 6666503.0,
 1039586.0,
 2583894.0,
 2725353.0,
 925281.0,
 644903.0,
 3738948.0,
 6473381.0,
 1885826.0,
 5171832.0,
 6206642.0,
 3271922.0,
 185605.0,
 2944295.0,
 1353911.0,
 4427859.0,
 7367575.0,
 5138455.0,
 1814412.0,
 85579.0,
 6658161.0,
 32927.0,
 3445411.0,
 3453333.0,
 3378218.0,
 5579119.0,
 6546679.0,
 3647361.0,
 4455494.0,
 3567501.0,
 3068247.0,
 6476766.0,
 6134694.0,
 1765765.0,
 4846473.0,
 4361723.0,
 4889066.0,
 3163947.0,
 2161110.0,
 2719272.0,
 4057648.0,
 2873381.0,
 5825477.0,
 4949167.0,
 4176515.0,
 6466364.0,
 1124891.0,
 7391474.0,
 133909.0,
 2637334.0,
 2685429.0,
 2117343.0,
 5687646.0,
 2838092.0,
 2105368.0,
 5933630.0,
 3988665.0,
 5212150.0,
 7142521.0,
 1269568.0,
 2880496.0,
 2002405.0,
 3581721.0,
 4859240.0,
 5707469.0,
 6573192.0,
 82684.0,
 1280765.0,
 3545072.0,
 5030574.0,
 714009.0,
 7397131.0,
 1017643.0,
 5707537.0,
 3530827.0,
 4315268.0,
 6485953.0,
 419617.0,
 3103766.0,
 2859886.0,
 646615.0,
 441184.0,
 3709877.0,
 4229111.0,
 1799016.0,
 700818.0,
 4113955.0,
 6154455.0,
 5700073.0,
 927148.0,
 3753102.0,
 4372422.0,
 3836833.0,
 5386312.0,
 38551.0,
 5021464.0,
 2530536.0,
 2421568.0,
 489327.0,
 6432800.0,
 3921088.0,
 7345219.0,
 832056.0,
 6087332.0,
 5579613.0,
 2002595.0,
 2888232.0,
 6894022.0,
 5062386.0,
 4923183.0,
 384413.0,
 3841648.0,
 5844552.0,
 4910985.0,
 2673429.0,
 2748011.0,
 136753.0,
 6030242.0,
 43702.0,
 6530069.0,
 1178410.0,
 1334932.0,
 5325565.0,
 6154454.0,
 3137392.0,
 2595640.0,
 2960697.0,
 5696138.0,
 1106063.0,
 5012796.0,
 6689851.0,
 6717745.0,
 5638679.0,
 3766676.0,
 3836832.0,
 158039.0,
 3357522.0,
 1082142.0,
 4722555.0,
 5354142.0,
 6933377.0,
 4022365.0,
 2876357.0,
 6084683.0,
 3080777.0,
 4146057.0,
 3380659.0,
 118512.0,
 6455369.0,
 5972597.0,
 2088655.0,
 1193019.0,
 4198008.0,
 4849254.0,
 6497306.0,
 5291026.0,
 508805.0,
 3404844.0,
 5797048.0,
 3756967.0,
 864493.0,
 2715893.0,
 4683700.0,
 3562117.0,
 1171393.0,
 1141187.0,
 2266017.0,
 1623768.0,
 5573384.0,
 2691392.0,
 729076.0,
 7000271.0,
 1910244.0,
 1627321.0,
 6170502.0,
 5207260.0,
 4950054.0,
 6274907.0,
 2238356.0,
 3537879.0,
 6499092.0,
 6755607.0,
 1835289.0,
 5325567.0,
 5046577.0,
 3921086.0,
 3248606.0,
 7374089.0,
 5087843.0,
 3727193.0,
 4623659.0,
 5402804.0,
 1144204.0,
 201975.0,
 5870677.0,
 7078907.0,
 3007941.0,
 1961996.0,
 6397661.0,
 2688407.0,
 6224959.0,
 684094.0,
 2957818.0,
 858153.0,
 684092.0,
 731350.0,
 6083125.0,
 3230451.0,
 5937714.0,
 431646.0,
 443598.0,
 3523457.0,
 5463698.0,
 5987689.0,
 6501338.0,
 5032671.0,
 6396595.0,
 3978612.0,
 4144116.0,
 4414019.0,
 1478908.0,
 394451.0,
 4919329.0,
 32617.0,
 5399633.0,
 692697.0,
 1506410.0,
 7042747.0,
 1453988.0,
 4468928.0,
 2961564.0,
 22617.0,
 5732880.0,
 6337759.0,
 2515312.0,
 7238259.0,
 2741634.0,
 2075752.0,
 7316925.0,
 2168355.0,
 3670928.0,
 6730430.0,
 3502604.0,
 2859345.0,
 7012310.0,
 5003559.0,
 6997673.0,
 5380765.0,
 4652785.0,
 6231816.0,
 3478512.0,
 5006658.0,
 1244153.0,
 3180791.0,
 2929245.0,
 4372955.0,
 1453231.0,
 946701.0,
 3671822.0,
 3060343.0,
 3030960.0,
 4859242.0,
 525004.0,
 4509516.0,
 6374178.0,
 1608419.0,
 3778396.0,
 6313004.0,
 3979019.0,
 377894.0,
 4363510.0,
 4226284.0,
 4548679.0,
 7291721.0,
 3622305.0,
 6098964.0,
 3265237.0,
 4406478.0,
 5905871.0,
 6542102.0,
 3318546.0,
 2324948.0,
 6512522.0,
 4793725.0,
 6098963.0,
 5454888.0,
 3263800.0,
 2807618.0,
 6467415.0,
 1264173.0,
 5673172.0,
 5281489.0,
 6501339.0,
 7211119.0,
 626858.0,
 5140621.0,
 3796903.0,
 93737.0,
 3673611.0,
 6313005.0,
 300479.0,
 2106882.0,
 7350244.0,
 1655774.0,
 6862727.0,
 341960.0,
 1827148.0,
 5077562.0,
 2619648.0,
 1481041.0,
 3086087.0,
 5383626.0,
 1928102.0,
 1779111.0,
 3195907.0,
 5890344.0,
 2018294.0,
 2681367.0,
 1060440.0,
 5531805.0,
 2071694.0,
 4423627.0,
 2087432.0,
 7124158.0,
 2638284.0,
 2725352.0,
 1813545.0,
 1182913.0,
 1271098.0,
 6427920.0,
 1928103.0,
 6024694.0,
 1589337.0,
 1957114.0,
 5903816.0,
 7350243.0,
 693026.0,
 2852321.0,
 5888817.0,
 1126119.0,
 3986256.0,
 4570099.0,
 3232202.0,
 533190.0,
 3365275.0,
 4613718.0,
 1452910.0,
 5897822.0,
 4491423.0,
 1428398.0,
 4264764.0,
 3792191.0,
 4754349.0,
 4819304.0,
 5203818.0,
 222197.0,
 1099988.0,
 4871667.0,
 7124357.0,
 7049653.0,
 5429885.0,
 3338627.0,
 6528600.0,
 4234610.0,
 5839976.0,
 5728946.0,
 4344818.0,
 1100527.0,
 5436692.0,
 4198007.0,
 4655541.0,
 3977857.0,
 2773496.0,
 9362.0,
 2702594.0,
 2806265.0,
 5932269.0,
 4974387.0,
 2351824.0,
 1261884.0,
 1856103.0,
 6901732.0,
 233388.0,
 5213164.0,
 6526381.0,
 6084274.0,
 972334.0,
 4510983.0,
 3214612.0,
 3304512.0,
 4427861.0,
 3199351.0,
 4455845.0,
 2155056.0,
 6366245.0,
 4469543.0,
 4538988.0,
 4444644.0,
 5653194.0,
 5884193.0,
 6966742.0,
 3013863.0,
 6086721.0,
 1987496.0,
 3941586.0,
 1842988.0,
 4116569.0,
 2968066.0,
 1713180.0,
 2815533.0,
 2355021.0,
 3444870.0,
 4289506.0,
 3577869.0,
 1736851.0,
 6500003.0,
 6351236.0,
 4764712.0,
 6170503.0,
 5549205.0,
 3371707.0,
 5381998.0,
 1509864.0,
 1622384.0,
 976097.0,
 7345255.0,
 ...]

In [14]:
persons = pd.read_csv('persons.csv.gz')

In [16]:
persons[persons['person_id'].isin(personsFaker)].to_csv('persons.csv.gz')

,Unnamed: 0,person_id,earning,worker,student,hispanic.1,person_sex,PNUM,sex,household_id,...,num_joint_tours,non_mandatory_tour_frequency,num_non_mand,num_escort_tours,num_eatout_tours,num_shop_tours,num_maint_tours,num_discr_tours,num_social_tours,num_non_escort_tours
711,711,1114077,22900.0,1,0,1,male,2,1,1043348,...,0,0,0,0,0,0,0,0,0,0
1248,1248,5383626,50000.0,1,0,0,female,2,2,1814660,...,1,0,0,0,0,0,0,1,0,0
1375,1375,883063,120000.0,1,0,0,male,1,1,2806215,...,0,36,2,1,1,0,0,0,0,1
1415,1415,2951111,80000.0,1,0,1,female,1,2,1852243,...,0,32,1,1,0,0,0,0,0,0
1957,1957,254713,0.0,0,1,0,male,4,1,267389,...,0,1,1,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715820,715820,6366245,0.0,0,0,0,female,1,2,1016109,...,0,24,2,0,0,1,1,0,0,2
715836,715836,1537452,106000.0,1,0,0,male,1,1,2540428,...,0,8,1,0,0,0,1,0,0,1
716986,716986,6134694,18900.0,1,1,0,male,1,1,162931,...,0,0,0,0,0,0,0,0,0,0
717120,717120,2758487,11000.0,1,0,0,male,1,1,1963248,...,0,0,0,0,0,0,0,0,0,0
717288,717288,7258655,36000.0,1,0,0,male,1,1,2840761,...,0,1,1,0,0,0,0,1,0,1

In [20]:
householdsFaker = list(persons[persons['person_id'].isin(personsFaker)]['household_id'].unique())

In [18]:
persons[persons['person_id'].isin(personsFaker)].to_csv('persons.csv.gz')

In [19]:
households = pd.read_csv('households.csv.gz')

In [23]:
households[households['household_id'].isin(householdsFaker)].to_csv('households.csv.gz')

In [24]:
households[households['household_id'].isin(householdsFaker)]

,Unnamed: 0,Unnamed: 0.1,household_id,gt55,seniors,VEHICL,lcm_county_id,hh_children,block_id,gt2,...,hh_work_auto_savings_ratio,num_under16_not_at_school,num_travel_active,num_travel_active_adults,num_travel_active_preschoolers,num_travel_active_children,num_travel_active_non_preschoolers,participates_in_jtf_model,joint_tour_frequency,num_hh_joint_tours
89,89,89,1835886,1,0.0,100,6085,no,60855044141010,1,...,-0.007323,0,2,2,0,0,2,True,0_tours,0
753,753,753,1814660,0,0.0,100,6085,yes,60855080031002,1,...,1.214543,0,4,2,1,2,3,True,1_Disc,1
825,825,825,1852243,1,0.0,100,6085,yes,60855045072003,1,...,1.304782,0,5,3,1,2,4,True,0_tours,0
968,968,968,489135,0,0.0,100,6001,no,60014506025009,1,...,1.241412,0,4,4,0,0,4,True,0_tours,0
1153,1153,1153,967022,1,0.0,100,6041,no,60411170001025,1,...,1.000000,0,3,3,0,0,3,True,0_tours,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273839,273839,273839,580430,1,0.0,100,6013,yes,60133342001003,1,...,0.751204,0,2,1,0,1,2,True,0_tours,0
274232,274232,274232,2289320,0,0.0,100,6095,no,60952523143002,1,...,1.183650,0,2,2,0,0,2,True,0_tours,0
274379,274379,274379,1963248,1,1.0,100,6085,no,60855069004013,1,...,0.936015,0,2,2,0,0,2,True,0_tours,0
274396,274396,274396,1831117,0,0.0,100,6085,no,60855044102000,1,...,1.279236,0,3,3,0,0,3,True,0_tours,0
274695,274695,274695,1994697,0,0.0,100,6085,yes,60855023021000,1,...,-0.154217,2,4,2,0,2,4,True,0_tours,0

In [27]:
blocksFaker = list(households[households['household_id'].isin(householdsFaker)]['block_id'].unique())

In [28]:
blocks = pd.read_csv('blocks.csv.gz')

In [29]:
blocks[blocks['block_id'].isin(blocksFaker)].to_csv('blocks.csv.gz')

,Unnamed: 0,block_id,y,value_impute,taz_id,square_meters_land,res_rents,rent_impute,residential_unit_capacity,employment_capacity,puma10_id,place_id,x,res_values,TAZ
37,37,60014271001037,37.764766,0,6.001001e+11,14422,1253.0,0,52,37,600105,600562.0,-122.236254,567900.0,576
104,104,60014272001006,37.768439,0,6.001001e+11,20149,1160.0,0,96,112,600105,600562.0,-122.244130,560500.0,611
124,124,60014272002006,37.771503,0,6.001001e+11,15432,1256.0,0,64,102,600105,600562.0,-122.246011,476500.0,611
487,487,60014278005008,37.771674,0,6.001001e+11,21012,1053.0,0,79,102,600105,600562.0,-122.267027,525000.0,613
661,661,60014281003000,37.761084,0,6.001001e+11,42713,1336.0,0,157,102,600105,600562.0,-122.239281,581000.0,582
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108657,108657,60971502041001,38.291119,0,6.097001e+11,16850,1366.0,0,42,177,609701,672646.0,-122.455761,908300.0,450
108720,108720,60971502043027,38.288698,0,6.097001e+11,26950,1964.0,0,67,117,609701,672646.0,-122.444150,819200.0,450
108782,108782,60971501001032,38.269383,0,6.097001e+11,149596,898.0,0,107,105,609701,NaN,-122.424413,908300.0,200
108932,108932,60971502023001,38.314302,0,6.097001e+11,11821259,1197.0,0,278,148,609701,NaN,-122.421455,866200.0,451
109053,109053,60971503032029,38.306130,0,6.097001e+11,554525,1696.0,0,143,105,609701,NaN,-122.543811,903200.0,201

In [30]:
blocks[blocks['block_id'].isin(blocksFaker)].to_csv('blocks.csv.gz')

In [31]:
plans = pd.read_csv('plans.csv.gz')

In [36]:
plans[plans['person_id'].isin(personsFaker)].to_csv('plans.csv.gz')

In [37]:
plans[plans['person_id'].isin(personsFaker)]

,Unnamed: 0,trip_id,person_id,number_of_participants,trip_mode,PlanElementIndex,ActivityElement,ActivityType,x,y,departure_time
562,562,NaN,722.0,NaN,NaN,1,activity,Home,-121.840805,37.984869,9.301
563,563,2.371290e+05,722.0,1.0,DRIVEALONEPAY,2,leg,NaN,NaN,NaN,NaN
564,564,NaN,722.0,NaN,NaN,3,activity,work,-121.834939,37.984954,11.865
565,565,2.368490e+05,722.0,1.0,DRIVEALONEPAY,4,leg,NaN,NaN,NaN,NaN
566,566,NaN,722.0,NaN,NaN,5,activity,atwork,-121.836999,37.894201,13.375
...,...,...,...,...,...,...,...,...,...,...,...
5703343,5703343,NaN,7399080.0,NaN,NaN,11,activity,eatout,-122.460910,37.711045,20.113
5703344,5703344,2.426898e+09,7399080.0,1.0,DRIVEALONEPAY,12,leg,NaN,NaN,NaN,NaN
5703345,5703345,NaN,7399080.0,NaN,NaN,13,activity,othdiscr,-122.451035,37.702767,21.125
5703346,5703346,2.426898e+09,7399080.0,1.0,DRIVEALONEFREE,14,leg,NaN,NaN,NaN,NaN
5703347,5703347,NaN,7399080.0,NaN,NaN,15,activity,Home,-122.458942,37.685497,NaN

In [38]:
plansFaker = list(plans[plans['person_id'].isin(personsFaker)]['trip_id'].unique())

In [39]:
trips = pd.read_csv('trips.csv.gz')

In [42]:
trips[trips['trip_id'].isin(plansFaker)].to

,Unnamed: 0,trip_id,person_id,household_id,tour_id,primary_purpose,trip_num,outbound,trip_count,purpose,destination,origin,destination_logsum,depart,trip_mode,mode_choice_logsum
1179,1179,83546065,254713,267389,10443258,othdiscr,1,True,1,othdiscr,906,820,NaN,6.0,SHARED2FREE,0.553127
1180,1180,83546069,254713,267389,10443258,othdiscr,1,False,1,Home,820,906,NaN,6.0,SHARED2PAY,-0.232078
1181,1181,83546113,254713,267389,10443264,school,1,True,1,school,820,820,NaN,7.0,WALK,-0.408884
1182,1182,83546117,254713,267389,10443264,school,1,False,1,Home,820,820,NaN,20.0,WALK,-0.408430
3319,3319,289644697,883063,2806215,36205587,atwork,1,True,1,atwork,1146,1146,NaN,12.0,DRIVEALONEPAY,-0.103742
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2531697,2531697,2380839043,7258655,2840761,297604880,othdiscr,3,True,3,othdiscr,568,586,NaN,16.0,SHARED2FREE,0.931591
2531698,2531698,2380839045,7258655,2840761,297604880,othdiscr,1,False,1,Home,823,568,NaN,16.0,SHARED2PAY,-0.403037
2531699,2531699,2380839153,7258655,2840761,297604894,work,1,True,1,work,1230,823,NaN,5.0,DRIVEALONEFREE,-1.406712
2531700,2531700,2380839157,7258655,2840761,297604894,work,1,False,2,escort,988,1230,9.274236,14.0,DRIVEALONEPAY,-0.023893
2531701,2531701,2380839158,7258655,2840761,297604894,work,2,False,2,Home,823,988,NaN,14.0,DRIVEALONEPAY,-0.455823