In [1]:
import pandas as pd

In [2]:
pd.read_csv('blocks.csv.gz')

,Unnamed: 0,block_id,y,value_impute,taz_id,square_meters_land,res_rents,rent_impute,residential_unit_capacity,employment_capacity,puma10_id,place_id,x,res_values,TAZ
0,0,60014271001000,37.770270,1,6.001001e+11,0,1475.0,1,0,0,600105,600562.0,-122.233867,777700.0,576
1,1,60014271001001,37.769464,0,6.001001e+11,79696,1253.0,0,105,367,600105,600562.0,-122.233991,567900.0,576
2,2,60014271001002,37.768350,1,6.001001e+11,739,1475.0,1,0,23,600105,600562.0,-122.234301,777700.0,576
3,3,60014271001003,37.768827,0,6.001001e+11,19546,1253.0,0,48,108,600105,600562.0,-122.235213,567900.0,576
4,4,60014271001004,37.769734,0,6.001001e+11,14364,1253.0,0,35,105,600105,600562.0,-122.236751,567900.0,576
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109223,109223,60971505004042,38.368332,1,6.097001e+11,4562,1043.0,1,20,100,609701,NaN,-122.469753,619700.0,203
109224,109224,60971505004043,38.394669,0,6.097001e+11,1089804,1043.0,0,106,113,609701,NaN,-122.523605,619700.0,203
109225,109225,60971505004044,38.346177,0,6.097001e+11,1412940,1043.0,0,142,102,609701,NaN,-122.485342,619700.0,203
109226,109226,60971505004045,38.348465,0,6.097001e+11,931534,1043.0,0,109,119,609701,NaN,-122.475273,619700.0,203
109227,109227,60971505004046,38.371593,1,6.097001e+11,617,1043.0,1,0,0,609701,NaN,-122.516148,619700.0,203

In [3]:
pd.read_csv('final_land_use.csv')

,TAZ,objectid,district,county,gacres,Shape__Area,Shape__Length,geometry,TOTHH,TOTPOP,...,hq1_density,PRKCST,OPRKCST,COLLFTE,COLLPTE,TERMINAL,area_type_metric,area_type,county_id,density_index
0,1,339,1,San Francisco,32.530647,0.000008,0.012199,"POLYGON ((-122.399695223 37.792232895, -122.39...",25.0,36.0,...,0.540597,668.984462,2108.906741,0.0,0.0,0,2525.374315,0,1,1.227136
1,2,416,1,San Francisco,49.911128,0.000013,0.014764,"POLYGON ((-122.399695223 37.792232895, -122.39...",135.0,205.0,...,1.223472,712.293652,2242.509791,0.0,0.0,0,2660.971755,0,1,4.328825
2,3,340,1,San Francisco,23.589885,0.000006,0.010129,"POLYGON ((-122.406991223 37.790320895, -122.40...",270.0,365.0,...,6.782370,192.131039,551.687285,0.0,0.0,0,482.032697,0,1,16.952357
3,4,417,1,San Francisco,30.883590,0.000008,0.013215,"POLYGON ((-122.403595223 37.7894328950001, -12...",58.0,81.0,...,1.542571,698.214964,2190.940975,0.0,0.0,0,2608.114115,0,1,2.878126
4,5,341,1,San Francisco,84.606743,0.000022,0.019409,"POLYGON ((-122.408395224 37.7883338940001, -12...",524.0,693.0,...,5.348555,291.198908,867.017657,0.0,0.0,0,944.481401,0,1,9.613816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1449,1450,1038,34,Marin,3564.505472,0.000919,0.201884,"POLYGON ((-122.518253251 37.880199894, -122.51...",2813.0,6713.0,...,0.132575,1.260380,4.473985,0.0,0.0,0,4.145947,5,1,0.340192
1450,1451,1039,34,Marin,1572.514038,0.000405,0.178458,"POLYGON ((-122.566601262 37.9048298920001, -12...",1925.0,4583.0,...,0.219925,2.015859,7.019985,0.0,0.0,0,6.390147,4,1,0.501669
1451,1452,1037,34,Marin,1746.060818,0.000450,0.152636,"POLYGON ((-122.549300259 37.911129895, -122.54...",1988.0,4670.0,...,0.163689,3.229787,11.291401,0.0,0.0,0,11.234380,4,1,1.095534
1452,1453,935,34,Marin,22961.995001,0.005919,0.658644,"POLYGON ((-122.627004267 37.8857308870001, -12...",264.0,543.0,...,0.001955,0.072649,0.237522,0.0,0.0,0,0.216182,5,1,0.001315
1453,1454,936,34,Marin,16930.613457,0.004361,0.570753,MULTIPOLYGON (((-122.736911289 37.925829882000...,951.0,1876.0,...,0.017677,0.241155,0.698157,0.0,0.0,0,0.421411,5,1,0.008860

In [4]:
pd.read_csv('final_persons.csv')

,person_id,age,earning,edu,hispanic,hours,PNUM,race_id,relate,sex,...,num_joint_tours,non_mandatory_tour_frequency,num_non_mand,num_escort_tours,num_eatout_tours,num_shop_tours,num_maint_tours,num_discr_tours,num_social_tours,num_non_escort_tours
0,2418,27,32000.0,21.0,0,24.0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2419,27,68000.0,21.0,0,50.0,2,9,13,2,...,0,0,0,0,0,0,0,0,0,0
2,3218,52,27000.0,8.0,0,40.0,3,1,2,1,...,0,0,0,0,0,0,0,0,0,0
3,3219,72,0.0,16.0,0,0.0,1,1,0,2,...,0,16,1,0,0,1,0,0,0,1
4,3220,82,0.0,16.0,0,0.0,2,1,1,1,...,0,24,2,0,0,1,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418755,6803437,15,0.0,11.0,0,0.0,2,1,2,1,...,0,0,0,0,0,0,0,0,0,0
418756,6803438,12,0.0,8.0,0,0.0,3,1,2,2,...,0,17,2,0,0,1,0,1,0,2
418757,6804218,55,0.0,14.0,0,0.0,1,1,0,1,...,0,40,2,1,0,0,1,0,0,1
418758,6805498,81,0.0,16.0,0,0.0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
418759,6805499,79,0.0,16.0,0,0.0,2,1,1,2,...,0,0,0,0,0,0,0,0,0,0

In [8]:
pd.read_csv('final_households.csv.gz')

BadGzipFile: Not a gzipped file (b'ho')