In [2]:
import pandas as pd

In [3]:
pd.read_csv('capmetro-0pt5/calendar.txt')

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,1-133_MRG_1,1,1,1,1,1,0,0,20200122,20200530
1,1-133_MRG_10,1,1,1,1,1,0,0,20200122,20200530
2,1-133_MRG_11,1,1,1,1,1,0,0,20200122,20200530
3,1-133_MRG_12,1,1,1,1,1,0,0,20200122,20200530
4,1-133_MRG_13,1,1,1,1,1,0,0,20200122,20200530
...,...,...,...,...,...,...,...,...,...,...
72,5-133_MRG_1,0,0,0,0,0,0,1,20200122,20200530
73,5-133_MRG_2,0,0,0,0,0,0,1,20200122,20200530
74,5-133_MRG_3,0,0,0,0,0,0,1,20200122,20200530
75,5-133_MRG_4,0,0,0,0,0,0,1,20200122,20200530
76,5-133_MRG_5,0,0,0,0,0,0,1,20200122,20200530

In [7]:
pd.read_csv('capmetro-0pt5/routes.txt')

,agency_id,route_id,route_short_name,route_long_name,route_type,route_url,route_color,route_text_color
0,1,1,1,North Lamar/South Congress,3,http://www.capmetro.org/current_schedules/pdf/...,004A97,FFFFFF
1,1,10,10,South 1st/Red River,3,http://www.capmetro.org/current_schedules/pdf/...,004A97,FFFFFF
2,1,103,103,Menchaca Flyer,3,http://www.capmetro.org/current_schedules/pdf/...,555555,FFFFFF
3,1,105,105,South 5th Flyer,3,http://www.capmetro.org/current_schedules/pdf/...,555555,FFFFFF
4,1,111,111,South Mopac Flyer,3,http://www.capmetro.org/current_schedules/pdf/...,555555,FFFFFF
...,...,...,...,...,...,...,...,...
79,1,981,981,Oak Knoll Express,3,http://www.capmetro.org/current_schedules/pdf/...,E2231A,FFFFFF
80,1,982,982,Pavilion Express,3,http://www.capmetro.org/current_schedules/pdf/...,E2231A,FFFFFF
81,1,985,985,Leander/Lakeline Direct,3,http://www.capmetro.org/current_schedules/pdf/...,E2231A,FFFFFF
82,1,987,987,Leander/Lakeline Express,3,http://www.capmetro.org/current_schedules/pdf/...,E2231A,FFFFFF
83,1,990,990,Manor/Elgin Express,3,http://www.capmetro.org/current_schedules/pdf/...,E2231A,FFFFFF

In [9]:
trips = pd.read_csv('capmetro-0pt5/trips.txt')

In [15]:
type(trips[trips['service_id'] == '1-133_MRG_1']['route_id'][0])

numpy.int64

In [5]:
pd.read_csv('capmetro-0pt5-out/calendar.txt')

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,1-133_MRG_1,1,1,1,1,1,0,0,20200122,20200530
1,1-133_MRG_10,1,1,1,1,1,0,0,20200122,20200530
2,1-133_MRG_11,1,1,1,1,1,0,0,20200122,20200530
3,1-133_MRG_12,1,1,1,1,1,0,0,20200122,20200530
4,1-133_MRG_13,1,1,1,1,1,0,0,20200122,20200530
...,...,...,...,...,...,...,...,...,...,...
72,5-133_MRG_1,0,0,0,0,0,0,1,20200122,20200530
73,5-133_MRG_2,0,0,0,0,0,0,1,20200122,20200530
74,5-133_MRG_3,0,0,0,0,0,0,1,20200122,20200530
75,5-133_MRG_4,0,0,0,0,0,0,1,20200122,20200530
76,5-133_MRG_5,0,0,0,0,0,0,1,20200122,20200530