In [1]:
import pandas as pd

In [2]:
pd.read_csv('taz-centers.csv.gz')

                taz       coord-x       coord-y      area
0     4849100000123  2.965472e+06  3.664299e+06  0.000069
1     4845300000055  2.956926e+06  3.631039e+06  0.000444
2     4845300001536  2.947914e+06  3.635487e+06  0.000394
3     4802100001207  3.006428e+06  3.645482e+06  0.002449
4     4820900000708  2.959828e+06  3.585137e+06  0.000045
...             ...           ...           ...       ...
1928  4849100001319  2.967513e+06  3.658600e+06  0.000072
1929  4849100000653  2.990894e+06  3.680021e+06  0.000155
1930  4845300001420  2.959100e+06  3.625294e+06  0.000186
1931  4802100001849  3.013560e+06  3.636939e+06  0.000382
1932  4805500001272  2.984274e+06  3.572577e+06  0.000411

[1933 rows x 4 columns]